.input-group.example {
    width: 240px;
    margin-bottom: 80px;
}

.StartPage__container {
    max-width: 350px;
}

.GamePage__container {
    max-width: 350px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
